{{#link-to "index"}}Home{{/link-to}} | {{#link-to "products"}}Products{{/link-to}}

<br />

{{outlet}}

<br />

<footer>
  <a href="https://www.facebook.com/cuddlesandcutiesbabyshoppe/">Visit us on Facebook!</a>
</footer>
